
extends layout

block content
  include header.pug
  include banner.pug
  section#main(class="container")
    section(class="box special")
        header( class="major")
        h2 types cookies
    span(class="image featured"): img(src="./public/images/cookie.jpg" alt="")