body(class =registro )
h1 Cookies 
h2 login 

div(class= 'conteiner' )

label(for="Nombre Galleta")
input( type="text")
br
label(for="Marca")
input(type="text")
br
label(for="Sabor")
input(type="text")
br
label(for="Precio")
input(type="number", name="")
br 
label(for="Tipo")
input(type="text", name="")
br 
input(type="submit", value="")